.site-counter
    display: flex
    align-items: center
    justify-content: center
    &__control
        +reset-btn
        width: 30px
        height: 30px
        border: 1px solid #d7d7d7
        cursor: pointer
    &__input
        width: 80px
        height: 30px
        margin: 0 3px
        padding: 0 10px
        outline: none
        font-size: 13px
        color: #111
        font-weight: 500
        text-align: center
        background-color: transparent
        border: 1px solid #d7d7d7
    
.basket-orders
    &__wrapper
    &__list
        display: table
        width: 100%
    &__header
        display: table-row
    &__header-title
        display: table-cell
        text-align: center
        padding-bottom: 20px
        color: #6f6f6f
        &_product
        &_price
        &_number
        &_total
        &_delete
    &__content
        display: table-row
    &__content-col
        display: table-cell
        vertical-align: middle
        background-color: #f4f4f4
        &_product
            display: flex
        &_price
            text-align: center
            color: #111
            font-weight: 900
        &_number
            text-align: center
        &_total
            text-align: center
            color: #111
            font-weight: 900
        &_delete
            text-align: center
            cursor: pointer
    &__description
        display: flex
        flex-direction: column
        justify-content: center
    &__img
        width: 100px
        height: 100px
        object-fit: cover
        margin-right: 35px
    &__name
        font-size: 20px
        font-weight: 900
        color: #111
        line-height: 1.25
    &__tags
        color: #6f6f6f
        font-size: 14px